.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App h1 {
  font-size: 40px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.goal-container {
  display: flex;
  list-style-type: none;
  /* justify-content: space-between; */
  align-items: stretch;
  flex-wrap: wrap;
}

.goal-card {
  border: 1px solid white;
  padding: 20px;
  word-wrap: normal;
  width: 20%;
}